<div id="system-info" class="system-nav-content">
<h2>Info</h2>
  <table class="table table-striped table-bordered">
    <tr>
      <td>Containers</td>
      <td><%= model.get("Containers") %></td>
    </tr>
    <tr>
      <td>Images</td>
      <td><%= model.get("Images") %></td>
    </tr>
    <tr>
      <td>Driver</td>
      <td><%= model.get("Driver") %></td>
    </tr>
    <tr>
      <td>Execution Driver</td>
      <td><%= model.get("ExecutionDriver") %></td>
    </tr>
    <tr>
      <td>Kernel Version</td>
      <td><%= model.get("KernelVersion") %></td>
    </tr>
    <tr>
      <td>Debug Mode</td>
      <td><%= model.get("Debug") %></td>
    </tr>
    <tr>
      <td>NFd</td>
      <td><%= model.get("NFd") %></td>
    </tr>
    <tr>
      <td>Go Routines</td>
      <td><%= model.get("NGoroutines") %></td>
    </tr>
    <tr>
      <td>Events Listener</td>
      <td><%= model.get("NEventsListener") %></td>
    </tr>
    <tr>
      <td>Init Path</td>
      <td><%= model.get("InitPath") %></td>
    </tr>
    <tr>
      <td>Index Server Address</td>
      <td><%= model.get("IndexServerAddress") %></td>
    </tr>
    <tr>
      <td>Memory Limit</td>
      <td><%= model.get("MemoryLimit") %></td>
    </tr>
    <tr>
      <td>Swap Limit</td>
      <td><%= model.get("SwapLimit") %></td>
    </tr>
    <tr>
      <td>IPv4Forwarding</td>
      <td><%= model.get("IPv4Forwarding")%></td>
    </tr>
  </table>
</div>
