<p> Image Layers for: <%= model.imageId %> <p>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Layer</th>
      <th>Created</th>
      <th>Command</th>
      <th>Size</th>
    </tr>
  </thead>
  <tbody>
    <%_.each(model.models, function (layer) {%>
      <tr>
        <td><%= layer.get("Id")%></td>
        <td><%= layer.get("Created")%></td>
        <td><%= layer.get("CreatedBy")%></td>
        <td><%= layer.get("Size")%></td>
      </tr>
    <%});%>
  </tbody>
</table>
