app:
  image: kunday/gondola:latest
  volumes:
    - .:/usr/local/app
  ports:
    - 49292:8080
  privileged: true
  volumes:
    - .:/usr/src/app
    - /var/run/docker.sock:/var/run/docker.sock
  environment:
    DOCKER_URL: 'unix:///var/run/docker.sock'
    DOCKER_VERSION: '1'
